{% extends "base.html" %}
{% block content%}





<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.h2inverse{
  background-color: #101010;
  color: #ffffff;

}
.profile_picture{
  float: left;
  left-padding: 10px;
}

.column70 {
  float: left;
  width: 65%;
  padding: 10px;
}
.column30 {
  float: left;
  width: 30%;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
</head>
<body>





<div class="row">
  <div class="column70" style="background-color:#aaa;">


    <img class="profile_picture" src = {{profile_picture}}></img>
    <h1 class="h2inverse">{{user_id}}</h1>
    {%if following_user == ""%}
      <a>Login to follow users</a>
    {%else%}
      {%if not following_user%}
        {%if id != user_id%}
          <a href = "/follow/{{user_id}}">Follow</a>
        {%endif%}
      {%else%}
        <a href = "/follow/{{user_id}}">Unfollow</a>
      {%endif%}
    {%endif%}
    <br></br>
    <h2 class="h2inverse">TOP TRACK:</h2>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{top_track}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h2 class="h2inverse">TOP ARTISTS:</h2>
    {% for artist in top_artists%}
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{artist.strip()[1:-1]}}?utm_source=generator" width="19%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {% endfor %}


  </div>
  <div class="column30" style="background-color:#aaa;">
    <h2 class="h2inverse" >FRIENDS</h2>
    <table>
      {% for followed_user in followed_users %}
        <tr>
          <th><img class="profile_picture" style="width:20px; height:20px" src = {{Users.query.filter_by(id = followed_user.followed_user_id).first().profile_picture}}></img><a href="/profile/{{followed_user.followed_user_id}}"><h2 class="h2inverse">{{followed_user.followed_user_id}}</h2></a></th>

        </tr>
      {%endfor%}
    </table>
  </div>
</div>



{% endblock %}
