{% extends "base.html" %}
{% block content%}


<div class="column70" style="background-color:#aaa;">
  {%for article in articles%}

    <a href = "/profile/{{article.user_id}}">see more by {{article.user_id}}</a>
    <a href = "/article/{{article.id}}"> - article: {{article.id}}</a>
    <p>{{article.content}}</p>

    {% if article.filename != "" %}
      <section class="col-md-3 col-sm-6" >

      {% if article.minetype == "image" %}
        <img src="{{ url_for('static', filename='uploads/' + article.filename) }}" width = 1000>
      {% endif %}

      {% if article.minetype == "audio" or article.minetype == "video" %}
        <video src="{{ url_for('static', filename='uploads/' + article.filename) }}" width = 1000 controls>
      {% endif %}
      </section>
      <a href="{{ url_for('static', filename='uploads/' + article.filename) }}" style="absolute: 600;" download>{{ article.filename }}</a>
    {% endif %}

  <hr>

  {%endfor%}
</div>

{% endblock %}
