{% extends "base.html" %}
{% block content%}




<br></br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{media_id}}?utm_source=generator" width="50%" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{artist}}?utm_source=generator" width="30%" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<h1>Genres:</h1>
{%for genre in genres%}
<p>{{genre}} - </p>
{%endfor%}

{% endblock %}
