{% extends "base.html" %}
{% block content%}





<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>





<div class="row">
  <div class="column70" style="background-color:#aaa;">


    <img class="profile_picture" src = {{profile_picture}}></img>
    <h1 class="h2inverse">{{user_id}}</h1>
    {%if following_user == ""%}
      <a>Login to follow users</a>
    {%else%}
      {%if not following_user%}
        {%if id != user_id%}
          <a href = "/follow/{{user_id}}">Follow</a>
        {%endif%}
      {%else%}
        <a href = "/follow/{{user_id}}">Unfollow</a>
      {%endif%}
    {%endif%}
    <br></br>
    <h2 class="h2inverse">TOP TRACK:</h2>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{top_track}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h2 class="h2inverse">TOP ARTISTS:</h2>
    {% for artist in top_artists%}
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{artist.strip()[1:-1]}}?utm_source=generator" width="19%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {% endfor %}

    <h1 class="h2inverse">REVIEWS:</h1>
    {% for review in reviews %}
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{review.album_id}}?utm_source=generator" width="50%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <br></br>
    <a class="h2inverse"> view other reviews of this <a class="h2inverse" href="/media/{{review.album_id}}">album</a></a>
    <p class="h2inverse">rating:  {{review.rating*"⭐"}}</p>
    <p class="h2inverse">{{review.content}}</p>
    <a class="h2inverse" href="/review/{{review.id}}">view comments</a>
    <hr>


    {% endfor %}


  </div>
  <div class="column30" style="background-color:#aaa;">
    <h2 class="h2inverse" >FRIENDS</h2>
    <table>
      {% for followed_user in followed_users %}
        <tr>
          <th><img class="profile_picture" style="width:20px; height:20px" src = {{Users.query.filter_by(id = followed_user.followed_user_id).first().profile_picture}}></img><a href="/profile/{{followed_user.followed_user_id}}"><h2 class="h2inverse">{{followed_user.followed_user_id}}</h2></a></th>

        </tr>
      {%endfor%}
    </table>
  </div>
</div>



{% endblock %}
