{% extends "base.html" %}
{% block content%}





<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>FRIENDS</h2>
<table>
  {% for users in followed_users %}
    <tr>
      <th>{{users.followed_user_id}}</th>
    </tr>
  {%endfor%}
</table>
<h2>TOP TRACK</h2>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{top_track}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<h2>TOP ARTISTS</h2>
{% for artist in top_artists%}
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{artist.strip()[1:-1]}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endfor %}




{% endblock %}
