{% extends "base.html" %}
{% block content%}




<div class="column70" style="background-color:#aaa;">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{album_id}}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <br></br>
  <h1 class="h2inverse" >See other reviews of this <a href="/media/{{album_id}}">album</a></h1>
  <h1 class="h2inverse" >see more reviews by <a href="/profile/{{user_id}}">{{user_id}}</a></h1>
  <br></br>
  <h1 class="h2inverse">Review:</h1>
  <h1 class="h2inverse">{{content}}</h1>
  <br></br>

  <h1 class="h2inverse">Comments:</h1>
  <p class="h2inverse"> upload your own <a href="/comment/{{review_id}}">comment</a></p>
  {% for comment in comments %}
    <hr>
    <p class="h2inverse">Comment by <a href="/profile/{{comment.user_id}}">{{comment.user_id}}</a></p>
    <p class="h2inverse">{{comment.content}}</p>
  {%endfor%}
</div>


{% endblock %}
